.section-feedback {
    text-align: center;
   .feedback-slide {
        text-align: center;
        line-height: 315px;
        outline: none;
        &-1 {
            background: url(../img/slider-1/img-1.png) center no-repeat;
        }
        &-2 {
            background: url(../img/slider-1/img-2.png) center no-repeat;
        }
        &-3 {
            background: url(../img/slider-1/img-3.png) center no-repeat;
        }
        &-4 {
            background: url(../img/slider-1/img-4.png) center no-repeat;
        }
        &-5 {
            background: url(../img/slider-1/img-5.png) center no-repeat;
        }
        &-6 {
            background: url(../img/slider-1/img-6.png) center no-repeat;
        }
        &r {
            width: 971px;
            margin: 0 auto;
            margin-top: 50px;
        }
    }
    .button {
        margin-top: 62px;
    }
    .slick-prev {
        left: -2.5%;
    }
}
