.footer {
	width: 1171px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	padding-bottom: 29px;
	.button-o {
		margin-top: 52px;
		text-transform: uppercase;
		letter-spacing: 0.6px;
		font-size: 12px;
		font-weight: 400;
		color: #303030;
		font-family: 'Gilroy-SemiBold', sans-serif;
		background-color: transparent;
		border: 1px solid #303030;
		border-radius: 50px;
		height: 45px;
		width: 200px;
		text-align: center;
		vertical-align: middle;
		margin-left: 31px;
		outline: none;
		transition: 0.5s ease-in-out;
	
		span {
			padding-top: 6px;
		}
	
		&:hover {
			background: #17dee9;
			color: #fff;
			svg {
				fill: #fff;
			}
		}
	
		svg {
			margin-right: 15px;
			padding-top: 13px;
			padding-bottom: 13px;
			padding-right: 14px;
			vertical-align: middle;
			transition: 0.5s ease-in-out;
			border-right: 1px solid #303030;
			fill: #17dee9;
			box-sizing: content-box;
		}
	}
}
.bottom {
	background: url(../img/bg-5.png) center no-repeat;
	width: 100%;
}
.logo {
	margin-top: 27px;
}
.tel {
	a{
		color: #303030;
		font-family: Gilroy;
		font-size: 20px;
		font-weight: 700;
		text-decoration: none;
	}
	margin-top: 68px;
}

.copy {
	margin-top: 57px;
	margin-left: 15%;
}