.footer {
	width: 1171px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	margin-top: 50px;
	padding-bottom: 29px;
	.button-o {
		margin: 0;
		margin-top: 52px;
		border: 1px solid #303030;
		color: #303030;
		svg {
			border-right: 1px solid #303030;
		}
		&:hover {
			color: #fff;
			border: 1px solid rgba(255, 255, 255, 0.3);
		}
	}
}
.bottom {
	background: url(../img/bg-5.png) center no-repeat;
	width: 100%;
}
.logo {
	margin-top: 27px;
}
.tel {
	a{
		color: #303030;
		font-family: Gilroy;
		font-size: 20px;
		font-weight: 700;
		text-decoration: none;
	}
	margin-top: 68px;
}

.copy {
	margin-top: 57px;
	margin-left: 15%;
}