.button-o {
    margin-top: 29px;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    font-size: 12px;
    font-weight: 400;
    color: #ffffff;
    font-family: 'Gilroy-SemiBold', sans-serif;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    height: 45px;
    width: 200px;
    text-align: center;
    vertical-align: middle;
    margin-left: 31px;
    outline: none;
    transition: 0.5s ease-in-out;

    span {
        padding-top: 6px;
    }

    &:hover {
        background: #0090ff;
        svg {
            fill: #fff;
        }
    }

    svg {
        margin-right: 15px;
        padding-top: 13px;
        padding-bottom: 13px;
        padding-right: 14px;
        vertical-align: middle;
        border-right: 1px solid rgba(255, 255, 255, 0.3);
        fill: #17dee9;
        box-sizing: content-box;
    }
}

.button {
    width: 320px;
    height: 86px;
    text-align: center;
    line-height: 86px;
    box-shadow: 0 4px 0 #1b9299, inset 0 2px 3px rgba(255, 255, 255, 0.15), inset 0 -3px 3px rgba(255, 255, 255, 0.1);
    border-radius: 43px;
    background: linear-gradient(to top, #1aa3ab 0%, #17dee9 100%), linear-gradient(to top, #000000 0%, #ffffff 100%);
    color: #ffffff;
    font-family: Gilroy;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    text-align: center;
    outline: none;
    transition: all 0.5s ease-in-out;
    border: 0px;

    &:hover {
        transform: translateY(2px);
        background: linear-gradient(to top, #208c92 0%, #1ec6cf 100%), linear-gradient(to top, #000000 0%, #ffffff 100%)
    }

    &-price {
        padding: 34px 42px;
        height: 11px;
        line-height: 5px;
        margin-top: 54px;
        margin-bottom: 57px;
    }

    &-play {
        background: transparent;
        padding: 16px;
        border-radius: 50px;
        outline: none;
        border: 1px solid rgba(#17dee9, 0.35);
        cursor: pointer;
    }
}

.blue {
    color: #17dee9;
}

.section-title {
    font-family: 'BebasNeue Regular';
    color: #303030;
    font-size: 60px;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 3.76px;
    text-align: center;
    padding-top: 61px;
}
.section-desc {
    color: #303030;
    font-family: Gilroy;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    margin-top: 13px;
    &_white {
        color: #ffffff;
    }
}

.slick {
    &-prev {
        width: 16px;
        height: 20px;
        background: url(../img/prev.png) center no-repeat !important;
        &:before {
            content: '' !important;
        }
    }
    &-next {
        background: url(../img/next.png) center no-repeat !important;
        &:before {
            content: '' !important;
        }
    }
    &-center {
        width: 3% !important;
        height: auto !important;
        opacity: 1 !important;
        margin-top: 0 !important;
        margin-bottom: 10px;
        img {
            width: 100% !important;
            height: 100% !important; 
        }
    }
}
.slick-prev {
    z-index: 1;
}