@media (max-width: 576px) {
    .header {
        background: url(../img/bg-mobile.png) no-repeat;

        &-logo {
            margin: 0 auto;;
        }

        &-menu {
            color: #303030;
            max-width: 576px;
            display: block;

            &__wrap {
                display: block;
                margin-left: 0;
                max-width: 576px;
            }

            &__data {
                margin-left: 43px;
                display: inline-block;
            }

            &__tel {
                display: inline-block;
            }

        }

        &-main {
            max-width: 576px;
            margin-left: 8px;
            &__text {

                h1 {
                    margin-top: 70px;
                    font-size: 80px;
                }
            }
        }

    }
    .container {
        width: 100%;
    }

    .button-o {
        margin: auto;
        display: block;
        border: 1px solid rgba(#303030, 0.3);
        color: #303030;
        margin-top: 20px;

        img {
            border-right: 1px solid rgba(#303030, 0.3);
        }
    }

    .buttton-mobile {
    }

    .section-value {

        &__advantages {            
            margin-bottom: 50px;
            &__wrap {
                display: block;
                max-width: 375px;
            }
        }

        &-forWhat {

            &__blocks {
                display: block;
                max-width: 375px;
            }

            &__block {
                margin-bottom: 50px;
            }
        }
    }

    .withWho {
        background: url(../img/bg-2-mobile.png) center no-repeat;
        &-desc {
            display: block;
            margin-top: 38px;
        }

        &-name {
            font-size: 40px;
            text-align: center;
        }

        &-text {
            margin-top: 0px;
        }

        &-advantages {
            ul {
                margin-left: 0px;
                width: 100%;
                margin-top: 19px;
            }
            li {
                font-size: 8px;
            }
        }

        &-img {
            text-align: center;
            img {
                width: 270px;
                height: 270px;
                margin: 0 auto;
            }
        }
    }

    .section-price__rates {
        background: #ffffff;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
    }

    .section-price__rate {
        margin-bottom: 40px;
    }

    .action {
        margin: 0 auto;
        margin-top: 762px;
        width: 320px;
    }
}