@media (max-width: 576px) {
    .header {
        background: url(../img/bg-mobile.png) no-repeat;

        &-logo {
            margin: 0 auto;;
        }

        &-menu {
            color: #303030;
            max-width: 576px;
            display: block;
            text-align: center;

            &__wrap {
                display: block;
                margin-left: 0;
                max-width: 576px;
            }

            &__data {
                margin-left: 0;
                display: inline-block;
            }

            &__tel {
                margin-left: 40px;
                display: inline-block;
                a {    
                    color: #303030;
                }
            }

        }

        &-main {
            max-width: 576px;
            text-align: center;
            &__text {

                h1 {
                    margin-top: 70px;
                    font-size: 70px;
                }
                &__desc {
                    margin-left: 0;
                    margin-top: 20px;
                    &_small {
                        margin-left: 0;
                    }
                }
            }
        }
        .button-o {
            margin: 0 auto;
            margin-top: 10px;
            margin-bottom: 20px;
        }

    }
    .container {
        width: 100%;
    }

    .button-o {
        margin: auto;
        display: block;
        border: 1px solid rgba(#303030, 0.3);
        color: #303030;
        margin-top: 20px;

        svg {
            border-right: 1px solid rgba(#303030, 0.3);
        }
    }

    .section-value {

        &__advantages {            
            margin-bottom: 50px;
            &__wrap {
                display: block;
                max-width: 100%;
            }
        }

        &-forWhat {

            &__blocks {
                display: block;
                max-width: 100%;
            }

            &__block {
                margin-bottom: 50px;
            }
        }
    }

    .withWho {
        background: url(../img/bg-2-mobile.png) center no-repeat;
        &-desc {
            display: block;
            margin-top: 38px;
        }

        &-name {
            font-size: 40px;
            text-align: center;
        }

        &-text {
            margin-top: 0px;
        }

        &-advantages {
            ul {
                margin-left: 0;
                width: 100%;
                margin-top: 19px;
            }
            li {
                font-size: 8px;
            }
        }

        &-img {
            text-align: center;
            margin-left: 0;
            img {
                width: 270px;
                height: 270px;
                margin: 0 auto;
            }
        }
    }

    .section-price__rates {
        background: #ffffff;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
    }

    .section-price__rate {
        margin-bottom: 40px;
    }

    .action {
        margin: 0 auto;
        margin-top: 762px;
        width: 320px;
    }
    .section-parsing {
        &__get {
            margin: 0 auto;
            margin-top: 51px;
            margin-bottom: 50px;
            li {
                font-size: 15px;
            }
            .section-title {
                margin-left: 10px;
                margin-right: 10px;
            }
        }

    }

    .section-title {
        font-size: 50px;
        &_small {
            font-size: 30px;
        }
    }

    * {
        margin-left: auto;
        margin-right: auto;
    }
    .section-title {
        font-size: 45px;
    }
    .button {
    }
    .section-parsing {
        .section-title {
            margin-left: 10px;
            margin-right: 10px;
        }

    }
    .feedback-slider {
        max-width: 90%;
        .slick-next {
            right: 0% !important;
        }
        .slick-prev {
            left: 0;
        }
    }
    .photos-slider {
        margin: 0;
        height: 270px !important;
        width: 89%;
        margin: 0 auto;
        margin-top: -50px;
        .photos-slide {
            opacity: 1;
        }
        .slick-track, .draggable {
            margin-left: 0%;
        }
        .slick-next {
            top: 90%;
            right: -20%;
        }
        .slick-prev {
            top: 90%;
            left: 0%;
        }
    }
    .footer {
        display: block;
        text-align: center;
        margin-top: 150px;
        width: 100%;
        .copy {
            margin-left: 0;
            margin-top: 32px;
        }
        .tel {
            margin-top: 32px;
        }
        .button-o {
            margin: 0 auto;
            margin-top: 32px;
        }
    }
    .video-popup {
        display: none;
        .popup {
            width: 320px;
        }
    }
    .popup {
        width: 336px;
        height: 500px;
        input {
            margin-left: 30px;
            padding: 24px 35.2px;
        }
        .button-a {
            width: 256px;
            height: 68.8px;
            line-height: 68.8px;
            margin-left: 40px;
            margin-right: 40px;
            margin-top: -30px;
        }
        .note {
            margin-left: 40px;
        }
    }
    iframe {
        max-width: 100% !important;
    }
    .rates-before {
        display: none;
        &-1 {
            display: none;
        }
    }
}