.section-photos {
	text-align: center;

	.slick-track, .draggable {
		margin-left: -2.5%;
		height: 455px;
	}

	.slick-next {
		left: 72%;
		top: 54%;
	}
	.slick-prev {
		left: 24%;
		opacity: 1;
		top: 54%;
		z-index: 1;
	}
}
.photos-slide {
	width: 100% !important;
	height: 270px;
	opacity: 0.6;
	margin-top: 100px;
	z-index: 1;
	margin-left: 6%;
	margin-right: 6%;
	&-1 {
		background: url(../img/slider-2/img-1.png) center no-repeat;
	}
	&-2 {
		background: url(../img/slider-2/img-2.png) center no-repeat;
	}
	&-3 {
		background: url(../img/slider-2/img-3.png) center no-repeat;
	}
	&-4 {
		background: url(../img/slider-2/img-4.png) center no-repeat;
	}
	&-5 {
		background: url(../img/slider-2/img-5.png) center no-repeat;
	}
	&-6 {
		background: url(../img/slider-2/img-6.png) center no-repeat;
	}
	&-7 {
		background: url(../img/slider-2/img-7.png) no-repeat;
	}
}
.slick-center {
	margin-left: 0.1%;
	margin-right: 0.1%;
	.photos-slide {
		width: 150% !important;
		height: 405px;
		opacity: 1;
		z-index: 14;
		margin-top: 32px;
		margin-left: 2%;
	}
}