.video-popup {
	position: fixed;
  display: none;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 8;
  background-color: rgba(0, 0, 0, 0.8);
 }
.popup {
	position: fixed;
  left: 50%;
  top: 7%;
  width: 420px;
	height: 550px;
  transform: translateX(-50%);
  background: #fff;
  border-radius: 10px;
  iframe {
  	margin-left: 20px;
  	margin-top: 70px;
  }
}
.close {
	position: absolute;
  right: -20px;
  top: -20px;
  font-size: 35px;
  color: #000;
  font-weight: 300;
  cursor: pointer;
  width: 36px;
	height: 36px;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
	background-color: #ffffff;
	text-align: center;
	line-height: 30px;
	border-radius: 50%;
}
.form-popup {
	position: fixed;
  display: none;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 8;
  background-color: rgba(0, 0, 0, 0.8);
  .section-title {
  	font-size: 44px;
  	margin-top: -11px;
  }
  .section-desc {
  	color: #000000;
  	font-size: 18px;
  	margin-bottom: 30px;
  }
  input {
  	color: #000000;
  	font-size: 18px;
  	padding: 30px 44px;
  	box-shadow: inset 0 5px 5px rgba(26, 26, 25, 0.5);
		border-radius: 6px;
		background-color: #f7f7f7;
		margin-bottom: 14px;
		margin-left: 50px;
		outline: none;
  }
}
form {
	margin-bottom: 58px;
}
.button-a {
	padding: 38px 92px;
  box-shadow: 0 4px 0 #1b9299, inset 0 2px 3px rgba(255, 255, 255, 0.15), inset 0 -3px 3px rgba(255, 255, 255, 0.1);
  border-radius: 43px;
  background: linear-gradient(to top, #1aa3ab 0%, #17dee9 100%), linear-gradient(to top, #000000 0%, #ffffff 100%);
  color: #ffffff;
  font-family: Gilroy;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  text-align: center;
  outline: none;
  border: 0px;
  margin-left: 50px;
  text-decoration: none;
}
.note {
	color: #000000;
	font-size: 13px;
	font-weight: 400;
	line-height: 19.98px;
	font-family: Gilroy;
	margin-top: 57px;
	margin-left: 85px;
}