.section-price {
    background: url(../img/bg-7.png) center no-repeat;
    &__desc {
        color: #303030;
        font-family: Gilroy;
        font-size: 18px;
        font-weight: 500;
        line-height: 26px;
        letter-spacing: 0.2px;
        text-align: center;
        margin-top: 13px;
    }

    &__rate {
        width: 320px;
        height: 330px;
        box-shadow: 0 5px 30px rgba(48, 48, 48, 0.05);
        border-radius: 10px;
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        z-index: 3;
    }

    &__rates {
        display: flex;
        box-shadow: 0 5px 30px rgba(48, 48, 48, 0.05);
        margin: 0 auto;
        width: 960px;
        margin-top: 70px;
        margin-bottom: 42px;
        height: 330px;
        z-index: 3;
    }

    &__date {
        color: #303030;
        font-family: Gilroy;
        font-size: 20px;
        font-weight: 700;
        line-height: 26px;
        letter-spacing: 0.2px;
        padding-top: 33px;
    }

    .action {
        color: #303030;
        font-family: Gilroy;
        font-size: 20px;
        font-weight: 500;
        line-height: 26px;
        text-align: center;
        margin-bottom: 52px;
    }
}

.price {
    font-family: 'BebasNeue Regular';
    margin-top: 54px;
    font-size: 40px;
    font-weight: 400;
    font-style: italic;
    line-height: 36px;
    letter-spacing: 2.51px;
    width: 100%;
    text-align: center;
}

.big {
    font-family: 'BebasNeue Regular';
    font-size: 40px;
    font-weight: 400;
    font-style: italic;
    line-height: 36px;
}