.section-value {

    &__advantages {
        text-align: center;

        &__wrap {
            display: flex;
            justify-content: space-around;
            margin: 0 auto;
            margin-top: 37px;
            width: 1200px;
        }

        img {
            box-shadow: inset 0 2px 3px rgba(255, 255, 255, 0.15), inset 0 -3px 3px rgba(255, 255, 255, 0.1);
        }

        p {
            color: #303030;
            font-family: Gilroy;
            font-size: 20px;
            font-weight: 700;
            line-height: 26px;
            letter-spacing: 0.2px;
        }

    }

    &-forWhat {
        text-align: center;

        &__desc {
            color: #303030;
            font-family: Gilroy;
            font-size: 20px;
            font-weight: 500;
            line-height: 26px;
            letter-spacing: 0.2px;
            margin-top: 18px;
        }

        &__block {

            &s {
                display: flex;
                justify-content: space-around;
                margin: 0 auto;
                margin-top: 37px;
                width: 1200px;
            }

            img {
                box-shadow: inset 0 2px 3px rgba(255, 255, 255, 0.15), inset 0 -3px 3px rgba(255, 255, 255, 0.1);
            }

            p {
                color: #303030;
                font-family: Gilroy;
                font-size: 20px;
                font-weight: 700;
                line-height: 26px;
                letter-spacing: 0.2px;
            }

        }

    }

}